<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <h3>{{post.category}}</h3>
      <h1>{{post.title}}</h1>
      <h2>{{post.subTitle}}</h2>
      <h3>{{post.upvote}} upvotes</h3>
      <a href="/posts/{{post._id}}/edit"><b>Edit</b></a>
           <p><form method="POST" action="/posts/{{post._id}}?_method=DELETE">
               <button type="submit">Destroy</button>
           </form></p>
       <br>
      <p>{{post.summary}}</p>
      <br><br>
        <h4>Comment</4>
            <br><br>
      <form action="/posts/{{post._id}}/comments" method="post">
  <textarea class='form-control' name="content" placeholder="Comment"></textarea>
  <div class="text-right">
    <button type="submit">Submit</button>
  </div>
</form>
    <br><br>
    {{#each post.comments}}
        <p>{{this.content}}</p>
    {{/each}}
  </div>
</div>
