<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <h1>{{post.title}}</h1>
      <h2>{{post.subTitle}}</h2>
      <h3>{{post.upvote}} upvotes</h3>
      <a href="/reviews/{{post._id}}/edit"><b>Edit</b></a>
           <p><form method="POST" action="/posts/{{post._id}}?_method=DELETE">
               <button type="submit">Destroy</button>
           </form></p>
       <br>
      <p>{{post.summary}}</p>
  </div>
</div>
