<center><h1>Posts</h1></center>
<div class="row">
{{#each posts}}
<div class="col-sm-3">
    <br><br>
    <center><h1><a href='/posts/{{this._id}}'>{{this.title}}</a></h1></center>
    <center><h4><b>{{this.author}}</b></h4></center>
    <center><h3><b>{{this.subTitle}}</b></h3></center>
    <center><h3>{{this.category}}</h3></center>
    <center><h4>{{this.upvote}} Upvotes</h4></center>
    <center><h5>{{this.summary}}</h5></center>
    <br>
</div>
{{/each}}
</div>
